{% extends 'base.html' %}
{% load static %}

{% block head_styles %}
<style>
  body {
    background-image: url({% static 'img/bg/auth.svg' %});
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
  }

  .wrapper {
    margin: auto !important;
  }
</style>
{% endblock head_styles %}
{% block content %}
<div class="card auth-card m-auto">
  <div class="card-body p-5">
    <div class="text-center p-4">
      <img
        src="/assets/img/askmeow.png"
        alt="Ask Meow"
        class="img-fluid round-logo"
      >
    </div>
    <h3 class="mb-3 text-center">Sign in</h3>
    <form class="login" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      <div class="row form-group mb-3 gx-0">
        <label class="form-label" for="id_login">Email:</label>
        <input class="form-control" type="email" name="login" placeholder="Email address" autofocus="autofocus"
          id="id_login" required>
      </div>

      <div class="row form-group mb-3 gx-0">
        <label class="form-label" for="id_password">Password:</label>
        <input class="form-control" type="password" name="password" placeholder="Password" id="id_password" required>
      </div>

      <div class="row form-group mb-3 gx-0">
        <div class="form-check">
          <input class="form-check-input" name="remember" type="checkbox" id="id_remember">
          <label class="form-check-label" for="id_remember">
            Remember Me
          </label>
        </div>
      </div>



      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}

      <div class="row mb-3 text-right gx-0">
        <a class="button secondaryAction" href="{% url 'account_reset_password' %}">Forgot password?</a>
      </div>

      <div class="row gx-0">
        <button class="btn btn-primary btn-block" type="submit">Sign in</button>
      </div>
    </form>

    <div class="row gx-0">
      <div class="col">
        <hr>
      </div>
      <div class="col-auto">OR</div>
      <div class="col">
        <hr>
      </div>
    </div>

    <div class="row mb-3 gx-0">
      <a class="btn btn-outline-primary btn-block" type="button" href="{{ signup_url }}">Create an account</a>
    </div>
  </div>
</div>
{% endblock content %}