{% extends 'base.html' %}
{% load static %}

{% block head_styles %}
<style>
  body {
    background-image: url({% static 'img/bg/auth.svg' %});
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
  }

  .wrapper {
    margin: auto !important;
  }
</style>
{% endblock head_styles %}

{% block content %}
<div class="card mx-auto" style="width: 400px;">
  <div class="card-body text-center">
    <div class="text-center p-4">
      <img
        src="/assets/img/askmeow.png"
        alt="Ask Meow"
        class="img-fluid round-logo"
      >
    </div>
    <h2>Sign out</h2>

    <p>Are you sure you want to sign out?</p>

    <form method="post" action="{% url 'account_logout' %}">
      {% csrf_token %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <a class="btn btn-outline-secondary" href="/">Cancel</a>
      <button class="btn btn-danger" type="submit">Sign Out</button>
    </form>
  </div>
</div>
{% endblock content %}