{% extends 'base.html' %}
{% load static %}

{% block head_styles %}
<style>
  body {
    background-image: url({% static 'img/bg/auth.svg' %});
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
  }

  .wrapper {
    margin: auto !important;
  }
</style>
{% endblock head_styles %}
{% block content %}
<div class="card auth-card m-auto">
  <div class="card-body p-5">
    <div class="text-center p-4">
      <img
        src="/assets/img/askmeow.png"
        alt="Ask Meow"
        class="img-fluid round-logo"
      >
    </div>
    <h3 class="mb-3 text-center">Create account</h3>
    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}
      <div class="row form-group mb-3 gx-0">
        <label class="form-label" for="id_email">Email:</label>
        <input class="form-control" type="email" name="email" placeholder="Email address" autofocus="autofocus"
          id="id_email" required>
      </div>

      <div class="row form-group mb-3 gx-0">
        <label class="form-label" for="id_password1">Password:</label>
        <input class="form-control" type="password" name="password1" placeholder="Password" id="id_password1" required>
      </div>

      <div class="row form-group mb-3 gx-0">
        <label class="form-label" for="id_password2">Re-enter password:</label>
        <input class="form-control" type="password" name="password2" placeholder="Password" id="id_password2" required>
      </div>


      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}

      <div class="row gx-0 mb-3">
        <button class="btn btn-primary btn-block" type="submit">Sign up</button>
      </div>
    </form>

    <div class="row gx-0">
      <p class="text-center">
        Already have an account? <a href="{{ login_url }}">Sign in</a>.
      </p>
    </div>
  </div>
</div>
{% endblock content %}