<template>
  <div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a
          class="navbar-brand"
          href="/"
        >Ask meow</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon" />
        </button>
        <div
          class="collapse navbar-collapse"
          id="navbarSupportedContent"
        >
          <form
            id="main-search"
            class="d-flex"
          >
            <input
              class="form-control mr-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            >
            <button
              class="btn btn-outline-success"
              type="submit"
            >
              Search
            </button>
          </form>
          <ul
            v-if="!userId"
            class="navbar-nav ml-auto mb-2 mb-lg-0"
          >
            <li class="nav-item mr-2">
              <a
                class="btn btn-primary"
                href="/accounts/login/"
              >Login</a>
            </li>
            <li class="nav-item">
              <a
                class="btn btn-outline-primary"
                href="/accounts/signup/"
              >Signup</a>
            </li>
          </ul>
          <ul
            v-else
            class="navbar-nav ml-auto mb-2 mb-lg-0"
          >
            <!-- change this to user icon + dropdown -->
            <li class="nav-item mr-2">
              <a
                class="btn"
                href="/accounts/logout/"
              >Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</template>

<script>
export default {
  props: {
    userId: {
      default: null,
      type: Number,
    }
  }
}
</script>

<style scoped>
/* there is a bug here browser cant detect style */
#main-search {
  width: 100%;
}
</style>