{% load static %}

<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="/assets/img/askmeow.png" width="30" height="30" class="d-inline-block align-top" alt="">
      Ask meow
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form id="main-search" class="d-flex mr-5" method="GET" action="{% url 'questions:questions' %}">
        <input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search" name="search" />
        <button class="btn btn-outline-secondary" type="submit">
          Search
        </button>
      </form>
      {% if user.is_authenticated %}
      <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
        <!-- change this to user icon + dropdown -->
        <li class="nav-item mr-2">
          <a class="btn btn-outline-secondary" href="/accounts/logout/" style="width: 95px;">Sign out</a>
        </li>
      </ul>
      {% else %}
      <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
        <li class="nav-item mr-2">
          <a class="btn btn-primary" href="/accounts/login/">Login</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-primary" href="/accounts/signup/">Signup</a>
        </li>
      </ul>
      {% endif %}
    </div>
  </div>
</nav>