<template>
  <div class="container pt-3">
    <div class="col-sm-8 mx-auto">
      <question-item
        v-for="question in questions"
        :key="question.id"
        :question="question"
      />
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import { getQueryParams } from '../utils/utils'
import QuestionItem from './QuestionItem.vue'
import {mapActions} from 'vuex'
import split from '../utils/split'

export default {
  components: {
    QuestionItem,
  },
  data () {
    return {
      userId: this.$parent.$el.dataset.userId,
      questions: [],
    }
  },
  created () {
    let params = getQueryParams()
    let url = window.Urls['api:questions:all']()
    axios.get(url, {
      params: {
        search: params.search,
        tags: params.tags,
      }
    }).then((response) => {
      this.questions = response.data
    })
    this.setSplit({ split })
  },
  methods: {
    ...mapActions(['setSplit'])
  }
}
</script>

<style>
</style>