<template>
  <div class="row gx-0 mb-3">
    <div class="card col-sm-12">
      <div class="card-body">
        <h5 class="card-title">
          <a :href="url">{{ question.title }}</a>
        </h5>
        <p
          v-if="treatment == 'on'"
          v-html="question.content"
        />
      </div>
    </div>
  </div>
</template>

<script>
import {mapState} from 'vuex'

export default {
  props: {
    question: {
      default: () => {},
      type: Object,
    },
  },
  data () {
    return {
      treatment: null,
    }
  },
  computed: {
    ...mapState(['split']),
    splitIsReady () {
      return this.split.isReady
    },
    url () {
      return window.Urls['questions:questions'](this.question.id)
    },
  },
  watch: {
    splitIsReady: {
      handler () {
        this.treatment = this.split.getTreatment('question-content')
      },
      immediate: true,
    }
  }
};
</script>

<style>
</style>