<template>
  <div class="container pt-3">
    <div class="col-sm-8 mx-auto">
      <div class="row gx-0 mb-3">
        <div class="card col-sm-12">
          <div class="card-body">
            <h5 class="card-title">
              {{ question.title }}
            </h5>
            <p v-html="question.content" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  data() {
    return {
      userId: this.$parent.$el.dataset.userId,
      questionId: this.$parent.$el.dataset.questionId,
      question: {},
    };
  },
  created() {},
};
</script>

<style>
</style>