*, body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

html, body {
  height: 100%;
}

pre {
  background: #f5f5f5;
  padding: 15px;
}

.auth-card {
  max-width: 480px;
}


.btn-outline-primary:hover, .btn-outline-primary:focus {
  background-color: #e7e7e7;
  color: var(--bs-blue);
}

#home-banner {
  height: 540px;
  background-image: url('/assets/img/bg/home.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

#main-content {
  margin-top: 60px;
}

#main-search {
  width: 100%;
}

.round-logo {
  height: 120px;
  width: 120px;
  border-radius: 40px;
}

@media (min-width: 500px) {
  .auth-card {
    min-width: 480px;
  }
}