<template>
  <div class="card">
    <div class="text-center p-4">
      <img
        :src="img"
        :alt="title"
        class="img-fluid"
      >
    </div>
    <div class="card-body">
      <h5 class="card-title text-center">
        {{ title }}
      </h5>
      <p class="card-text text-center">
        {{ content }}
      </p>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    img: {
      default: '',
      type: String
    },
    title: {
      default: 'Card Title',
      type: String
    },
    content: {
      default: 'Some quick example text to build on the card title and make up the bulk of the card\'s content.',
      type: String
    }
  }
}
</script>

<style scoped>
.img-fluid {
  height: 400px;
  object-fit: contain;
  border-radius: 8px;
}
</style>