<template>
  <div>
    <div
      id="home-banner"
      class="text-white d-flex justify-content-center align-items-center"
    >
      <h1 class="text-center">
        Find the mewswers you need with Ask Meow
      </h1>
    </div>
    <div class="container mt-5">
      <div class="row">
        <div
          class="col-sm-6 mb-sm-5 mb-3"
          v-for="card in cards"
          :key="card.title"
        >
          <home-card
            :img="card.img"
            :title="card.title"
            :content="card.content"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import HomeCard from './HomeCard.vue';
export default {
  components: {
    HomeCard,
  },
  data() {
    return {
      cards: [
        {
          img: '/assets/img/forum.png',
          title: 'Get answers!',
          content:
            'A Q&A forum or discussion board where visitors can ask and answer questions and engage with other community members.',
        },
        {
          img: '/assets/img/rewards.png',
          title: 'Get rewarded!',
          content:
            'For every approved or upvoted answers you provide you get points which can be used to purchase merch.',
        },
      ],
      userId: this.$parent.$el.dataset.userId,
    };
  },
};
</script>

<style>
</style>