{% load static %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="en-us">

<head>

  {# Meta Section #}
  {% include 'common/metas.html' %}
  {% block head_meta %}
  {% endblock head_meta %}

  <title>
    {% block title %}
    Ask meow
    {% endblock title %}
  </title>

  <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/askmeow.png">

  {# Fonts Section #}
  {% include 'common/fonts.html' %}
  {% block head_fonts %}
  {% endblock head_fonts %}

  {# Styles Section #}
  {% include 'common/styles.html' %}
  {% block head_styles %}
  {% endblock head_styles %}

  {# Django JS Reverse #}
  {% comment %}
  Put this here so that it will be accessible already for the Vue components
  {% endcomment %}
  <script src="{% url 'js_reverse' %}" type="text/javascript"></script>

</head>

{% block body_tag %}
<body>
{% endblock %}

  {% block body %}
  {% block header %}
  {% include 'common/header.html' %}
  {% endblock header %}

  {% block wrapper %}
  <div id="main-content" class="wrapper">
    {% block content %}
    {% endblock content %}
  </div>
  {% endblock wrapper %}

  {% block footer %}
  {% include 'common/footer.html' %}
  {% endblock footer %}

  {# JS Section #}
  {% include 'common/scripts.html' %}
  {% block scripts %}
  {% endblock scripts %}

  {# Quick and dirty on page JS Section #}
  {% block page_scripts %}
  {% endblock page_scripts %}

</body>
{% endblock body %}

</html>